# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\steff\Documents\git\Forex-dueling-double-dqn-tradingbot-for-metatrader-5\DQNTRADINGBGOT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
